<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Tabs - Simple manipulation</title>

    <div th:replace="common/headerNew :: head"></div>
    <div th:replace="common/headerNew :: aceadmin"></div>
    <div th:replace="common/headerNew :: acescripts"></div>
    <div th:replace="common/headerNew :: jqueryui"></div>
    <div th:replace="common/headerNew :: bootstraptable"></div>

    <!--<div th:replace="common/headerNew :: head"></div>-->
    <link rel="stylesheet" th:href="@{/aceadmin/components/jquery-ui/style.css}" />

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <style>
        #dialog label, #dialog input { display:block; }
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #tabs { margin-top: 1em; }
        #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
        #add_tab { cursor: pointer; }
    </style>
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script>
        $(function () {
            var tabs = $( "#tabs" ).tabs();
            // Close icon: removing the tab on click
            tabs.on( "click", "span.ui-icon-close", function() {
                var panelId = $( this ).closest( "li" ).remove().attr( "aria-controls" );
                $( "#" + panelId ).remove();
                tabs.tabs( "refresh" );
            });
            tabs.on( "keyup", function( event ) {
                if ( event.altKey && event.keyCode === $.ui.keyCode.BACKSPACE ) {
                    var panelId = tabs.find( ".ui-tabs-active" ).remove().attr( "aria-controls" );
                    $( "#" + panelId ).remove();
                    tabs.tabs( "refresh" );
                }
            });

        });
        function addTab(href, tabTitle) {
            var tabTemplate = "<li><a href='/{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>",
                li = $( tabTemplate.replace( /\{href\}/g, href ).replace( /#\{label\}/g, tabTitle ) ),
                tabs = $( "#tabs" ).tabs();
            tabs.find( ".ui-tabs-nav" ).append( li );
//            tabs.append( "<div id='" + id + "'><p>" + tabContentHtml + "</p></div>" );
            tabs.tabs( "refresh" );
//            tabCounter++;
        };
    </script>
</head>
<body>

<!--<div id="dialog" title="Tab data">-->
    <!--<form>-->
        <!--<fieldset class="ui-helper-reset">-->
            <!--<label for="tab_title">Title</label>-->
            <!--<input type="text" name="tab_title" id="tab_title" value="Tab Title" class="ui-widget-content ui-corner-all">-->
            <!--<label for="tab_content">Content</label>-->
            <!--<textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all">Tab content</textarea>-->
        <!--</fieldset>-->
    <!--</form>-->
<!--</div>-->

<!--<button id="add_tab">Add Tab</button>-->

<a href="javascript:void(0)" onclick="addTab('new', '用户')">用户</a>
<a href="javascript:void(0)" onclick="addTab('content', '内容')">内容</a>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Nunc tincidunt</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
    </ul>
    <div id="tabs-1">
        <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
    </div>
</div>


</body>
</html>
