<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <head th:replace="common/header :: head"></head>
</head>
<body>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            主页
            <small>内容预览</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)" onclick="initContent('main')"><i class="fa fa-dashboard"></i> 主页</a></li>
        </ol>
    </section>

    <!-- 主体内容 -->
    <section class="content">
        <h1>test</h1>
    </section>
    <!-- /.content -->
</body>
</html>