<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
    <head th:replace="common/header :: head"></head>

    <!-- bootstrap-table -->
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-table/css/bootstrap-table.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap-table/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>

</head>
<body>
<div class="content-wrapper" style="margin-left: 0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户管理
            <small>用户管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)" onclick="initContent('user')"><i class="fa fa-dashboard"></i> 用户管理</a></li>
        </ol>
    </section>

    <!-- 主体内容 -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header" with-border>
                        <h3 class="box-title">物料列表</h3>
                    </div>
                    <!--<ol class="breadcrumb">-->
                    <!--<li><strong><span style="color: #27a0d7">用户列表</span></strong></li>-->
                    <!--</ol>-->


                    <!-- 成功提示框 -->
                    <div class="alert alert-success fade in hidden" id="success"></div>

                    <div class="box-body">
                        <table id="tb"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- 工具栏 -->
<div id="toolbar">
    <!--<div class="btn-group">-->
        <button type="button" class="btn btn-success" onclick="location.href='/storeadd/0'">
            <i class="fa fa-plus">新增</i>
        </button>
        <button type="button" class="btn btn-danger" onclick="del()">
            <i class="fa fa-remove">删除</i>
        </button>
    <!--</div>-->
</div>

<!-- 弹出提示框 -->
<div class="modal fade" id="dl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeDl()" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mt"></h4>
            </div>
            <div class="modal-body" id="mb">
                <!--<p id="mb"></p>-->

                <form role="form" id="resetPwd" action="/user/resetPwd" method="post">
                    <div class="box-body">
                        <!-- 隐藏id -->
                        <input type="hidden" id="id" name="uid" />
                        <div class="form-group">
                            <label for="usr" class="col-sm-2 control-label" style="margin-top: 1%">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="usr" disabled>
                                <!-- 隐藏只为参数提交 -->
                                <input type="hidden" id="username" name="username" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label" style="margin-top: 1%">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd" placeholder="请输入新密码" name="password">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" onclick="closeDl()"  data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary pull-right" onclick="save()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.example-modal -->


    <script type="text/javascript">

        function closeDl() {
            $("#dl").modal('hide');
        }

        // 删除
        function del() {
            var rows = $("#tb").bootstrapTable('getSelections');
            for (var i = 0; i < rows.length;i++) {
                $.ajax({
                    url:'/store/del/' + rows[i].id,
                    type: 'DELETE',
                    success:function (data) {
                        $("#success").html(data);
                        $("#success").attr('class', 'alert alert-success');
                        // 刷新列表
                        $("#tb").bootstrapTable('refresh');
                        window.setTimeout(function(){
                            $("#success").attr('class', 'alert alert-success hidden');
                        },1000);
                    }
                });
            }
        }

        <!-- 表格初始化 -->
            function initTable() {
                $("#tb").bootstrapTable({
                    url: '/user/all',
                    method: 'get',
                    columns: [{
                        field: 'stateId',
                        checkbox: true,
                    },{
                        field: 'number',
                        title: '编号',
                        formatter:function (value, row, index) {
                            return index + 1;
                        },
                        align: 'center',
                    },{
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                    },{
                        field: 'nickname',
                        title: '昵称',
                        align: 'center',
                    },{
                        field: 'password',
                        title: '密码',
                        align: 'center',
                    },{
                        field: 'salt',
                        title: '密码盐',
                        align: 'center',
                    },{
                        field: 'email',
                        title: '邮箱',
                        align: 'center',
                    },{
                        field: 'state',
                        title: '状态',
                        align: 'center',
                        formatter:function (value, row, index) {
                            switch (value) {
                                case 0:
                                    return '<span class="badge bg-red">未激活</span>';
                                    break;
                                case 1:
                                    return '<span class="badge bg-light-blue">正常</span>';
                                    break;
                                case 2:
                                    return '<span class="badge bg-green">已锁定</span>';
                                    break;
                                case 3:
                                    return '<span class="badge bg-yellow">已停用</span>';
                                    break;
                            }
                        },
                    },{
                        field: 'opr',
                        title: '操作',
                        align: 'center',
                        formatter: oprFunction,
                    }],
                    //classes:'table table-no-bordered',
                    showColumns: true,
                    striped: true,
                    pagination: true,
                    sidePagination:'server',
                    pageNumber:1,
                    pageSize:20,
                    pageList:[1,2,5,50,100],
                    search:true,
                    showRefresh:true,
                    showToggle:true,
                    showPaginationSwitch:true,
                    buttonsAlign:'right',
                    paginationPreText:'上一页',
                    paginationNextText:'下一页',
                    clickToSelect:true,
                    toolbar:'#toolbar',
                });
            }

        // 页面加载
        $(function () {
            initTable();
        })
            
        function oprFunction(value, row, index) {
            return '<a href="javascript:void(0)" onclick="editT(' + row.uid + ')">编辑</a>' +' | '+
                '<a href="javascript:void(0)" onclick="resetPwd(\''+row.uid+'\','+ '\'' + row.username + '\')">重置密码</a>' +' | '+
                '<a href="javascript:void(0)" onclick="disab(\''+row.id+'\','+'\'on\''+')">启用</a>';
        }

        // 编辑
        function editT(id) {
            window.location.href = "/user/edit/" + id;
        }

        // 停用
        function disab(id, key) {
            $.ajax({
                url: '/store/disab/' + id + '/' + key,
                type: 'post',
                success: function (data) {
                    // 成功
                    // 刷新列表
                    $("#tb").bootstrapTable('refresh');
                }
            });
        }
        
        // 重置密码
        function resetPwd(id, username) {
            $("#dl").modal('show');
            $("#mt").text('重置密码');
            $("#id").val(id);
            $("#usr").val(username);
            $("#username").val(username);
//            $("#mb").html('<div class="form-group"><label class="col-sm-2 control-label" for="pwd">密码：</label><div class="col-xs-3"><input type="password" class="form-control" id="pwd" placeholder="Password"></div></div>');
        }

        // 保存重置密码
        function save() {
            $("#resetPwd").submit();
        }

    </script>

</body>
</html>