<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>排班管理</title>
    <!-- myjs-->
    <script type="text/javascript" th:src="@{/myCustom/js/myjs.js}"></script>
    <!-- mycss -->
    <link type="text/css" rel="stylesheet" th:href="@{/myCustom/css/myCss.css}">

</head>
<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">

            <!-- 主体内容 -->
            <div class="page-content">
                <!-- 头部 -->
                <h3 class="header blue lighter smaller">
                    <i class="ace-icon fa fa-users smaller-90"></i>
                    排班表
                </h3>
                <!-- 隐藏的当前用户名 -->
                <div style="display: none" id="nickName" ><shiro:principal property='nickname'></shiro:principal></div>
            </div>

            <!-- 成功提示框 -->
            <div class="alert alert-success fade in hidden" id="success"></div>

            <div class="box-body">
                <!-- 按钮 -->
                <button type="button" class="btn btn-primary" onclick="pre(this)">上一周</button>
                <button type="button" class="btn btn-primary" onclick="next(this)">下一周</button>
                <!-- 上传文件 -->
                <form id="fileForm" method="post" action="/excel/import" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" style="display: none" onchange="uploadSch()">
                </form>
                <i class="fa fa-download pull-right"><a href="javaScript:void(0);"
                                                        onclick="downloadSch()">下载本月考勤</a></i>
                <i class="fa fa-upload pull-right"><a href="javaScript:void(0);" onclick="showUpload()">上传排班表&nbsp;&nbsp;</a></i>

                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <!-- 表头 -->
                        <th colspan="8" id="pbtitle"></th>
                    </tr>
                    <tr>
                        <th rowspan="2"></th>
                        <th>周一</th>
                        <th>周二</th>
                        <th>周三</th>
                        <th>周四</th>
                        <th>周五</th>
                        <th>周六</th>
                        <th>周日</th>
                    </tr>
                    <tr id="date">
                        <th></th>
                    </tr>
                    </thead>
                    <!-- 内容 -->
                    <tbody id="pbbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
<!-- /.content -->
</div>

<script type="text/javascript">
    $(function () {
        var today = new Date();
        initPb(today);
        // 处理排班
        sch();
    });
    // 上一周
    function pre(value) {
        var lastDay = new Date(value.name, 0, parseInt(value.id) - 7);
        initPb(lastDay);
        sch();
    }
    ;
    // 下一周
    function next(value) {
        var lastDay = new Date(value.name, 0, parseInt(value.id) + 7);
        initPb(lastDay);
        sch();
    }
    // 表格处理
    function initPb(today) {
        var y = today.getFullYear(),
            m = today.getMonth(),
            d = today.getDate(),
            weekNum = getWeekNum(y, m, d),
            tdate = '',
            str, ths;
        // 计算当年的第一天是周几
        var weekDay = new Date(y, 0, 1).getDay() || 7;
        // 计算当前周的最后一天
        var lastDay = 7 * (weekNum - 1) + (7 - weekDay + 1);

        // 设置表头
        $("#pbtitle").text('排班表(' + y + '年 第' + weekNum + '周)');
        $(".box-body button").attr('id', lastDay);
        $(".box-body button").attr('name', y);

        // 初始化date
        $("#date").html('<th></th>');

        // 计算本周的7天，从最后一天往前
        for (var i = 0; i < 7; i++) {
            var newDate = new Date(y, 0, lastDay - 7 + i + 1);
            str = (newDate.getMonth() + 1) + '-' + newDate.getDate();              // 格式化日期为m-d
            $("#date th").text(str);            // 赋值给th
            // 给当天class
            if (str == new Date().getMonth() + 1 + '-' + new Date().getDate()) {
                $("#date th").addClass('today');
            }
            ths = $("#date").html();
            tdate += ths;
            // 循环后初始化date
            $("#date").html('<th></th>');
        }
        ;

        $("#date").html(tdate);
    }
    ;
    // 排班初始化
    function sch() {
        $("#pbbody").html('');
        // 获取当前周的最后一天
        var lastDay = $(".box-body button")[0].id;
        var lastYear = $(".box-body button")[0].name;
        // 初始化参与排班人员
        $.ajax({
            url: '/user/schall',
            type: 'get',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#pbbody").append('<tr><td class="name"></td></tr>');
                    $("#pbbody tr:last").attr('id', data[i].nickname);
                    $("#pbbody tr:last td").text(data[i].nickname);
                    for (var j = 0; j < 7; j++) {
                        $("#pbbody tr:last").append('<td id="' + (new Date(lastYear, 0, lastDay - 7 + j + 1).getTime()) + '"></td>');
                    }
                }
            }
        });
        var beginDay = new Date(lastYear, 0, lastDay - 7 + 1);
        var endDay = new Date(lastYear, 0, lastDay);
        // 初始化排班明细
        $.ajax({
            url: '/sch/all',
            type: 'get',
            data: {
                beginDay: beginDay.getFullYear() + '-' + (beginDay.getMonth() + 1) + '-' + beginDay.getDate(),
                endDay: endDay.getFullYear() + '-' + (endDay.getMonth() + 1) + '-' + endDay.getDate(),
            },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var str = "#" + data[i].user.nickname + " #" + data[i].schtime;
                    $(str).text(data[i].aClass.cname);
                }
                // 给当前用户的所有排班特殊显示
                var currentUsername = '#' + $("#nickName").text();
                $(currentUsername).addClass('curUsername');
                // 给当天的所有班次添加特殊显示
                var now = new Date();
                var today = "#pbbody #" + new Date(now.getFullYear(), now.getMonth(), now.getDate()).getTime();
                $(today).addClass('today');
            }
        });
    }

    //    下载当月考勤
    function downloadSch() {
        // 获取当前周的最后一天
        var lastDay = $(".box-body button")[0].id;
        var lastYear = $(".box-body button")[0].name;
        var date = new Date(lastYear, 0, lastDay);
        var month = date.getMonth();
        var beginDay = lastYear + '-' + month + '-' + '26';
        var endDay = lastYear + '-' + parseInt(month + 1) + '-' + '25';
        window.location.href = '/excel/download/' + beginDay + '/' + endDay;
    }

    // 上传考勤表
    function uploadSch() {
        $("#fileForm").submit();
    }

    function showUpload() {
        $("#file").click();
    }
</script>

</body>
</html>