<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<hea>
    <title>文件管理</title>
    <head th:replace="common/header :: head"></head>

    <!-- bootstrap-table -->
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-table/css/bootstrap-table.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap-table/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>

    <!-- bootstrap-input-file -->
    <link type="text/css" rel="stylesheet" th:href="@{/fileinput/css/fileinput.min.css}" />
    <script type="text/javascript" th:src="@{/fileinput/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/fileinput/js/fileinput_locale_zh.js}"></script>

</head>
<body>
<div class="content-wrapper" style="margin-left: 0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            文件管理
            <small>文件管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)" onclick="initContent('file')"><i class="fa fa-dashboard"></i> 文件管理</a></li>
        </ol>
    </section>

    <!-- 主体内容 -->
    <section class="content">
        <div class="row">
            <div class="col-md-2">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">文件</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="mailbox.html"><i class="fa fa-music"></i> 音乐
                                <span class="label label-primary pull-right" th:text="${picTotal}"></span></a></li>
                            <li><a href="#"><i class="fa fa-video-camera"></i> 视频
                                <span class="label label-success pull-right" th:text="${picTotal}"></span></a></li>
                            <li><a href="#"><i class="fa fa-file-picture-o"></i> 图片
                                <span class="label label-info pull-right" th:text="${picTotal}"></span></a></li>
                            <li><a href="#"><i class="fa fa-file"></i> 文档
                                <span class="label label-danger pull-right" th:text="${picTotal}"></span></a>
                            <li><a href="#"><i class="fa fa-dot-circle-o"></i> 其他
                                <span class="label label-warning pull-right" th:text="${picTotal}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">文件列表</h3>
                    </div>
                    <!--<ol class="breadcrumb">-->
                    <!--<li><strong><span style="color: #27a0d7">用户列表</span></strong></li>-->
                    <!--</ol>-->
                    <table id="tb"></table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- 上传模态框（Modal） -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">上传文件</h4>
            </div>
            <div class="modal-body">
                <input id="myfile" name="file" type="file" multiple class="file-loading" required>
                <!--<input id="file" name="myfile" type="file" data-show-caption="true">-->
                <p class="help-block">单个文件大小不超过10M，总文件大小不能超过50M。</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 预览文件模态框（Modal） -->
<div id="viewModal" class="file-zoom-dialog modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-left: 17px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="kv-zoom-actions pull-right">
                    <button type="button" class="btn btn-default btn-header-toggle btn-toggleheader" title="缩放" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-vertical"></i></button>
                    <button type="button" class="btn btn-default btn-fullscreen" title="全屏" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-fullscreen"></i></button>
                    <button type="button" class="btn btn-default btn-borderless" title="无边界模式" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-full"></i></button>
                    <button type="button" class="btn btn-default btn-close" title="关闭当前预览" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                <h3 class="modal-title">详细预览 <small id="titlesmall"></small></h3>
            </div>
            <div class="modal-body">
                <div class="floating-buttons"></div>
                <div class="kv-zoom-body file-zoom-content krajee-default" id="contentsource"></div>
            </div>
        </div>
    </div>
</div>

<!-- 工具栏 -->
<div id="toolbar">
    <!--<div class="btn-group">-->
        <button type="button" class="btn btn-success" onclick="showUploadModal()">
            <i class="fa fa-plus">上传</i>
        </button>
        <button type="button" class="btn btn-danger" onclick="del()">
            <i class="fa fa-remove">删除</i>
        </button>
    <!--</div>-->
</div>

    <script type="text/javascript">
        
            // 删除文件
            function del() {
                var rows = $("#tb").bootstrapTable('getSelections');
                for (var i = 0; i < rows.length;i++) {
                    $.ajax({
                        url:'file/del/' + rows[i].id,
                        type: 'DELETE',
                        success:function (data) {
                            alert(data);
                            // 刷新列表
                            $("#tb").bootstrapTable('refresh');
                        }
                    });
                }
            }

            // 文件上传初始化
            $("#myfile").fileinput({
                uploadUrl:'/file/upload',
                showPreview: true,
                uploadAsync: true,      // 默认异步上传
                showClose: false,       // 显示关闭按钮
                showUpload: true,      // 显示上传按钮
                showCaption: true,      // 显示选择文件筐区域
                showRemove:true,        // 显示移除按钮
                dropZoneEnabled: true,  // 显示拖拽区域
//                allowedFileExtensions: ["jpg", "png", "gif"],    // 允许文件拓展名
//                allowedPreviewTypes: ['image'],                 // 允许预览文件类型
//                allowedFileTypes: ['image'],                    // 允许文件上传类型
                language: 'zh',         // 设置语言
                maxFileSize: 50000,      // 允许上传文件的大小
                maxFileCount: 10,         // 允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
//            initialPreview: ["<img src='*' class='file-preview-image' alt='肖像图片' title='肖像图片'>"],
            }).on("fileerror", function (event, data, previewId, index) {
                console.log(data.id);
                console.log(data.index);
                console.log(data.file);
                console.log(data.reader);
                console.log(data.files);
                var obj = data.response;
                alert(JSON.stringify(data.success));
            }).on('fileuploaded', function(event, data, msg) {
                // 不作任何处理
            });

            function closeModal() {
                // 关闭上传窗口
                $("#uploadModal").modal('hide');
                // 刷新列表
                $("#tb").bootstrapTable('refresh');
                // 刷新并开启myFile
                $("#myfile").fileinput('refresh').fileinput('enable');
            }

            <!-- showUploadModal -->
            function showUploadModal() {
            $("#uploadModal").modal('show');
        }

        <!-- 表格初始化 -->
            function initTable() {
                $("#tb").bootstrapTable({
                    url: 'file/all',
                    method: 'get',
                    columns: [{
                        field: 'state',
                        checkbox: true,
                    },{
                        field: 'number',
                        title: '编号',
                        formatter:function (value, row, index) {
                            return index + 1;
                        },
                        valign: 'middle',
                    },{
                        field: 'oldname',
                        title: '文件名',
                    },{
                        field: 'path',
                        title: 'Url',
                    },{
                        field: 'suffix',
                        title: '后缀',
                    },{
                        field: 'formatSize',
                        title: '文件大小',
                    },{
                        field: 'uploadtime',
                        title: '上传时间',
                    },{
                        field: 'opr',
                        title: '操作',
                        align: 'center',
                        formatter: oprFunction,
                    }],
                    classes:'table table-no-bordered',
                    showColumns: true,
                    striped: true,
                    pagination: true,
                    sidePagination:'server',
                    pageNumber:1,
                    pageSize:20,
                    pageList:[1,2,5,50,100],
                    search:true,
                    showRefresh:true,
                    showToggle:true,
                    showPaginationSwitch:true,
                    buttonsAlign:'right',
                    paginationPreText:'上一页',
                    paginationNextText:'下一页',
                    clickToSelect:true,
                    toolbar:'#toolbar',
                });
            }

        // 页面加载
        $(function () {
            initTable();
            // 隐藏字段
//            $("#tb").bootstrapTable('hideColumn', 'type');
        })
            
        function oprFunction(value, row, index) {
            return '<button type="button" class="btn btn-info btn-xs" onclick="download(' + row.id + ')"><i class="fa fa-download"></i>下载</button>' +
                '<button type="button" class="btn btn-warning btn-xs" ' +
                'onclick="viewFile(\'' + row.oldname + '\',\''+ row.formatSize + '\',\'' + row.path + '\',\'' + row.type + '\')">' +
                '<i class="fa fa-folder-open"></i>查看</button>';
        }

        // 下载文件(以表单提交方式)
        function download(value) {
            var form = $('<form></form>');
            // 添加属性
            form.attr('style', 'display:none');
            form.attr('action', 'file/download/' + value);
            form.attr('method', 'get');
            // 添加到body
            $("body").append(form);
            // 提交表单
            form.submit();
        }
        // 预览
        function viewFile(oldname, formatSize, path, type) {
            $("#viewModal").modal('show');
            // 图片
            if (type.indexOf('image/') >= 0) {
                $("#titlesmall").html('<span class="kv-zoom-title">' + oldname + '<samp>(' + formatSize + ')</samp></span>');
                $("#contentsource").html('<img src="' + path + '" alt="' + oldname + '" style="max-width: 100%; max-height: 100%;">');
            }
            // 文本
            else if (type.indexOf('text/') >= 0) {
                $("#titlesmall").html('<span class="kv-zoom-title">' + oldname + '<samp>(' + formatSize + ')</samp></span>');
                $("#contentsource").html('<textarea class="kv-preview-data file-preview-text file-zoom-detail" title="' + path + '" readonly="" style="width: 100%; height: 100%; min-height: 480px;">123</textarea>');
            }
            // 音频
            else if (type.indexOf('audio/') >= 0) {
                $("#titlesmall").html('<span class="kv-zoom-title">' + oldname + '<samp>(' + formatSize + ')</samp></span>');
                $("#contentsource").html('<audio class="kv-preview-data file-zoom-detail" controls="" style="width: 100%; height: 30px;">' +
                    '<source src="' + path + '" type="audio/mp3">' +
                    '<div class="file-preview-other"><span class="file-other-icon"><i class="glyphicon glyphicon-file"></i></span></div></audio>');
            }
            // 视频
            else if (type.indexOf('video/') >= 0) {
                $("#titlesmall").html('<span class="kv-zoom-title">' + oldname + '<samp>(' + formatSize + ')</samp></span>');
                $("#contentsource").html('<video class="kv-preview-data file-preview-video file-zoom-detail" controls="" style="width: auto; height: 100%; max-width: 100%;">' +
                    '<source src="' + path + '" type="video/mp4"><div class="file-preview-other">' +
                    '<span class="file-other-icon"><i class="glyphicon glyphicon-file"></i></span></div></video>');
            }
            // 不支持
            else {
                $("#titlesmall").html('<span class="kv-zoom-title">' + oldname + '<samp>(' + formatSize + ')</samp></span>');
                $("#contentsource").html('<h3>暂不支持预览该文件类型</h3><h4><a href="' + path + '">点击打开</a></h4>');
            }
        }

    </script>

</body>
</html>