<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>403错误页面</title>
</head>
<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div class="main-content">
        <div class="main-content-inner">

            <!-- 主体内容 -->
            <div class="page-content">

                <!-- 中间内容 -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="error-container">
                            <div class="well">
                                <h1 class="grey lighter smaller">
											<span class="red bigger-125">
												<i class="ace-icon fa fa-close"></i>
												403
											</span>
                                    你没有权限访问该页面!
                                </h1>

                                <hr />
                                <h3 class="lighter smaller">
                                    请联系管理员
                                    <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                                    授予相关权限。
                                </h3>

                                <div class="space"></div>

                                <div>
                                    <h4 class="lighter smaller">或者可以进行以下操作:</h4>

                                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                        <li>
                                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                                            访问授权页面
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                                            联系相关具有授权权限人员
                                        </li>
                                    </ul>
                                </div>

                                <hr />
                                <div class="space"></div>

                                <div class="center">
                                    <a href="javascript:history.back()" class="btn btn-grey">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        返回
                                    </a>

                                    <a href="/" class="btn btn-primary">
                                        <i class="ace-icon fa fa-home"></i>
                                        回主页
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- PAGE CONTENT ENDS -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>