<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>用户管理</title>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div class="main-content">
        <div class="main-content-inner">

            <!-- 主体内容 -->
            <div class="page-content">
                <!-- 头部 -->
                <h3 class="header blue lighter smaller">
                    <i class="ace-icon fa fa-user smaller-90"></i>
                    用户列表
                </h3>

                <!-- 中间内容 -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="tb"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main-container -->

<!-- 重置密码dialog -->
<div id="dialog-resetPwd" class="hide">
    <div class="row">
        <form role="form" id="resetPwd" action="/user/set" method="post">
            <div class="box-body">
                <!-- 隐藏id -->
                <input type="hidden" id="id" name="uid" />
                <div class="form-group">
                    <label for="usr" class="col-sm-2 control-label" style="margin-top: 1%">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="usr" disabled>
                        <!-- 隐藏只为参数提交 -->
                        <input type="hidden" id="username" name="username" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd" class="col-sm-2 control-label" style="margin-top: 1%">新密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="请输入新密码" name="password">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 设置用户状态dialog -->
<div id="dialog-setState" class="hide">
    <div class="row">
        <form role="form" id="setState" action="/user/set" method="post">
            <!-- 隐藏id -->
            <input type="hidden" id="ids" name="uid" />
            <div class="form-group">
                <label for="usr" class="col-sm-2 control-label" style="margin-top: 1%">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="usrs" disabled>
                    <!-- 隐藏只为参数提交 -->
                    <input type="hidden" id="usernames" name="username" >
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-sm-2 control-label" style="margin-top: 1%">状态</label>
                <div class="col-sm-10">
                    <select class="form-control" id="state" name="state">
                        <option value="1">激活</option>
                        <option value="2">锁定</option>
                        <option value="3">停用</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 示例dialog -->
<div id="dialog" title="测试">
    <div class="row">
        <form role="form" id="resetPwd1" action="/user/set" method="post">
            <div class="box-body">
                <!-- 隐藏id -->
                <input type="hidden" id="id1" name="uid" />
                <div class="form-group">
                    <label for="usr" class="col-sm-3 control-label" style="margin-top: 1%">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="usr1" disabled>
                        <!-- 隐藏只为参数提交 -->
                        <input type="hidden" id="username1" name="username" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd" class="col-sm-3 control-label" style="margin-top: 1%">新密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pwd1" placeholder="请输入新密码" name="password">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 工具栏 -->
<div id="toolbar">
    <!--<div class="btn-group">-->
    <button type="button" class="btn btn-primary" onclick="showDialog()">
        <i class="fa fa-user-plus"> 新增</i>
    </button>
</div>

<script type="text/javascript">
    // 页面加载
    $(function () {
        initTable();
        var dialog = $( "#dialog" ).dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            buttons: [
                {
                    text: "取消",
                    "class" : "btn btn-minier",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "确定",
                    "class" : "btn btn-primary btn-minier",
                    click: function() {
                        // 保存
                        $("#resetPwd").submit();
                        $( this ).dialog( "close" );
                    }
                }
            ]
        });
        var form = dialog.find( "form" ).on( "submit", function( event ) {
            dialog.dialog( "close" );
            event.preventDefault();
        });
    });

    // 表格初始化
    function initTable() {
        $("#tb").bootstrapTable({
            url: '/user/all',
            method: 'get',
            columns: [{
                field: 'stateId',
                checkbox: true,
            },{
                field: 'number',
                title: '编号',
                formatter:function (value, row, index) {
                    return index + 1;
                },
                align: 'center',
            },{
                field: 'username',
                title: '用户名',
                align: 'center',
            },{
                field: 'nickname',
                title: '昵称',
                align: 'center',
            },{
                field: 'password',
                title: '密码',
                align: 'center',
            },{
                field: 'salt',
                title: '密码盐',
                align: 'center',
            },{
                field: 'email',
                title: '邮箱',
                align: 'center',
            },{
                field: 'state',
                title: '状态',
                align: 'center',
                formatter:function (value, row, index) {
                    switch (value) {
                        case 0:
                            return '<span class="badge badge-grey">未激活</span>';
                            break;
                        case 1:
                            return '<span class="badge badge-info">正常</span>';
                            break;
                        case 2:
                            return '<span class="badge badge-warning">已锁定</span>';
                            break;
                        case 3:
                            return '<span class="badge badge-danger">已停用</span>';
                            break;
                    }
                },
            },{
                field: 'issch',
                title: '参与排班',
                align: 'center',
                formatter:function (value, row, index) {
                    switch (value) {
                        case 0:
                            return '<input name="switch-field-1" class="ace ace-switch ace-switch-5" type="checkbox" ' +
                                'onclick="issch(' + row.uid + ', ' + 1 + ')"/><span class="lbl"></span>';
                            break;
                        case 1:
                            return '<input name="switch-field-1" class="ace ace-switch ace-switch-5" type="checkbox" ' +
                                'onclick="issch(' + row.uid + ', ' + 0 + ')" checked/><span class="lbl"></span>';
                            break;
                    }
                },
            },{
                field: 'opr',
                title: '操作',
                align: 'center',
                formatter: oprFunction,
            }],
            //classes:'table table-no-bordered',
            showColumns: true,
            striped: true,
            pagination: true,
            sidePagination:'server',
            pageNumber:1,
            pageSize:20,
            pageList:[1,2,5,50,100],
            search:true,
            showRefresh:true,
            showToggle:true,
            showPaginationSwitch:true,
            buttonsAlign:'right',
            paginationPreText:'上一页',
            paginationNextText:'下一页',
            clickToSelect:true,
            toolbar:'#toolbar',
        });
    }
    // 表格操作
    function oprFunction(value, row, index) {
        return '<div class="hidden-sm hidden-xs action-buttons">' +
            '<a class="green" href="#" onclick="editT(' + row.uid + ')"><i class="ace-icon fa fa-pencil bigger-130"></i></a>' +
            '<a class="blue" href="#" onclick="resetPwd(\''+row.uid+'\','+ '\'' + row.username + '\')"><i class="ace-icon fa fa-repeat bigger-130"></i></a>' +
            '<a class="pink2" href="#" onclick="setState(\''+row.uid+'\','+ '\'' + row.username + '\')"><i class="ace-icon fa fa-wrench bigger-130">' +
            '</i></a></div>';
    }
    // 重置密码
    function resetPwd(uid, username) {
        // 初始化dialog
        $( "#dialog-resetPwd" ).removeClass('hide').dialog({
            modal: true,
            width : 500,
            title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-repeat blue'></i> 重置密码</h4></div>",
            title_html: true,
            buttons: [
                {
                    text: "取消",
                    "class" : "btn btn-minier",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "确定",
                    "class" : "btn btn-primary btn-minier",
                    click: function() {
                        // 保存
                        $("#resetPwd").submit();
                        $( this ).dialog( "close" );
                    }
                }
            ]
        });
        $("#id").val(uid);
        $("#usr").val(username);
        $("#username").val(username);
    }

    // 设置用户状态
    function setState(uid, username) {
        // 初始化dialog
        $( "#dialog-setState" ).removeClass('hide').dialog({
            modal: true,
            width : 500,
            title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-wrench pink2'></i> 设置用户状态</h4></div>",
            title_html: true,
            buttons: [
                {
                    text: "取消",
                    "class" : "btn btn-minier",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "确定",
                    "class" : "btn btn-primary btn-minier",
                    click: function() {
                        // 保存修改密码
                        $("#state").val($("#state option:selected").val());
                        $("#setState").submit();
                        $( this ).dialog( "close" );
                    }
                }
            ]
        });
        $("#ids").val(uid);
        $("#usrs").val(username);
        $("#usernames").val(username);
    }

    // jqueryui dialog title html处理
    $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
        _title: function(title) {
            var $title = this.options.title || '&nbsp;'
            if( ("title_html" in this.options) && this.options.title_html == true )
                title.html($title);
            else title.text($title);
        }
    }));
    
    // 是否参与排班处理
    function issch(uid, value) {
        $.ajax({
            url: '/user/issch',
            data: {
                'uid': uid,
                'issch': value
            },
            type: 'post',
            success: function (data) {
                if (data == 'true') {
                    initTable();
                } else {
                    alert("服务器繁忙，请稍后再试！");
                }
            }
        });
    }
    
    function showDialog() {
        $("#dialog").dialog( "open" );
    }
</script>

</body>

</html>
